# Compiled classes
node_modules

# MAC files
.DS_Store

# directories
videos/*
medias/*/*.mov
medias/*/*.m4v
medias/*/*.mp4
data/keywords.js
data/media.js
data/sav/*.sav
log/*
config/*.js
test/datatmp/*.*
