<div class="credits-cols">
	<div class="credits-col credits-col1">
		<h2>Concepteurs du&nbsp;prototype Dépôt’ware</h2>
	<strong>Équipe Museomix édition Arles 2014 :</strong><br>
	Lucile Bataille<br>
	David Djaoui<br>
	Céline Françon<br>
	Pierre-Gilles Levallois<br>
	Guillaume Rouvière<br>
	Florine Vanorlé<br>
	
	<img src="../../medias/presentation/logo_museomix.png">
	</div>
	
	<div class="credits-col credits-col2">
		<h2>Prestataires</h2>
		
		<div class="credits-item">Développement et intégration : <strong>PGL Coding & Making</strong></div>
		<div class="credits-item">Graphisme : <strong>Kévin Vennitti</strong></div>
		<div class="credits-item">Design et fabrication de la mallette : <strong>En Goguette</strong></div>
		<div class="credits-item">Numérisation 3D de la pipette AR3.3005.36 : <strong>IMA Solutions et Digiscan3D</strong></div>
		<div class="credits-item">Reconstitution et impression 3D de la pipette AR3.3005.36 : <strong>Ferme 3D</strong></div>
		<div class="credits-item">Reproduction céramique de la pipette AR3.3005.36 et de l’amphorisque RHO.2011.2007.78 : <strong>Mathias Fernandes pour l’Atelier de la Goffie</strong></div>
		
		<img src="../../medias/presentation/logo_engoguette.png"> 
		<img src="../../medias/presentation/logo_imasolutions.png"> 
		<img src="../../medias/presentation/logo_digiscan3d.png"> 
		<img src="../../medias/presentation/logo_ferme3d.png"> 
	</div>
	
	
	<div class="credits-col credits-col3">
		<h3>Crédits vidéo</h3>
		Sylvain Langler, Valentin Luang Rath, Florent Ollé, Valentin Tostivint et Jonathan Serruya<br>
		Agatha Bosque-Guyomarc'h et Romain Patureaux<br>
		
		<h3>Crédits photo</h3>
		Rémi Bénali – MDAA – CD13<br>
		Agatha Bosque-Guyomarc'h – MDAA – CD13 (lot de bols en céramique à paroi fine)<br>
		
		<h3>Remerciements</h3>
		CD13<br>
		Musée départemental Arles antique : service conservation et département des publics<br>
		Pôle Culture et Patrimoines<br>
		IUT d’AIX-MARSEILLE - Site d’Arles - Département Métiers du Multimédia et de l'Internet<br>
		<img src="../../medias/presentation/logo_cd13.png"> 
		<img src="../../medias/presentation/logo_mdaa.png"> 
		<img src="../../medias/presentation/logo_pcp.png"> 
		<img src="../../medias/presentation/logo_iut.png"> 
	</div>
</div>
