<div class="credits-cols">
	<div class="credits-col credits-col2">
		<h3>Concepteurs du&nbsp;prototype Dépôt’ware</h3>
	<strong>Équipe Museomix édition Arles 2014 :</strong> Lucile Bataille, David Djaoui, Céline Françon, Pierre-Gilles Levallois, Guillaume Rouvière, Florine Vanorlé
		<br><br>
		<h3>Prestataires</h3>
		
		<div class="credits-item"><strong>Développement et intégration :</strong> PGL Coding & Making</div>
		<div class="credits-item"><strong>Graphisme :</strong> Kévin Vennitti</div>
		<div class="credits-item"><strong>Design et fabrication de la mallette :</strong> En Goguette</div>
		<div class="credits-item"><strong>Numérisation 3D de la pipette AR3.3005.36 :</strong> IMA Solutions et Digiscan3D</div>
		<div class="credits-item"><strong>Reconstitution et impression 3D de la pipette :</strong> Ferme 3D</div>
		<div class="credits-item"><strong>Reproduction céramique de la pipette et de l’amphorisque RHO.2011.2007.78 :</strong> Mathias Fernandes pour l’Atelier de la Goffie</div>
		
	
	</div>
	
	
	<div class="credits-col credits-col3">
		<h3>Crédits vidéo</h3>
		Sylvain Langler, Valentin Luang Rath, Florent Ollé, Valentin Tostivint et Jonathan Serruya, Agatha Bosque-Guyomarc'h et Romain Patureaux
		<br><br>
		<h3>Crédits photo</h3>
		Rémi Bénali – MDAA/CD13 (Neptune)<br>
		Agatha Bosque-Guyomarc'h – MDAA/CD13 (bols en céramique à paroi fine)<br>
		Teddy Seguin, O Can-Ipso Facto, MDAA/CD13 (fouille du dépotoir du Rhône)<br>
		©DR (épave Lardier 4 ; moule de céramique sigilée – Landesmuseum, Trêve : embarcation chargée de tonneaux ; sarcophage - Ancône : vente de vin ; fresque - Pompéi : dégustation de vin).

		<br><br>
		<h3>Remerciements</h3>
		CD13<br>
		Musée départemental Arles antique : service conservation et département des publics<br>
		Pôle Culture et Patrimoines<br>
		IUT d'Aix-Marseille - Site d’Arles - Département Métiers du Multimédia et de l'Internet<br>
	</div>
	
	<div class="credits-logos">
		<img src="../../medias/presentation/logo_museomix.jpg">
		<img src="../../medias/presentation/logo_engoguette.png"> 
		<img src="../../medias/presentation/logo_imasolutions.png"> 
		<img src="../../medias/presentation/logo_digiscan3d.png"> 
		<img src="../../medias/presentation/logo_ferme3d.png"> 
		<img src="../../medias/presentation/logo_cd13.png"> 
		<img src="../../medias/presentation/logo_mdaa.png"> 
		<img src="../../medias/presentation/logo_pcp.png"> 
		<img src="../../medias/presentation/logo_iut.png"> 
	</div>
</div>
