

<div class="dashboard-item dashboard-item-1 scenarioButtonOfDashboard" name="scenario1">
	<div data-toggle-if-scenar-in-histo="scenario1">
		<div class="dashboard-item-image" style="background-image:url(../medias/pipette/pipette-cartel-final.svg);"></div>
		<div class="dashboard-item-title">PIPETTE</div>
	</div>
	
	<div data-toggle-if-scenar-not-in-histo="scenario1">
		<div class="dashboard-item-image" style="background-image:url(../medias/pipette/pipette-archeo-dashboard.svg);"></div>
		<div class="dashboard-item-title">
			<div class="casino">
				<div class="casino-roll">
					<div class="casino-roll-item">PIPULE</div>
					<div class="casino-roll-item">PIPISQUE</div>
					<div class="casino-roll-item">PIPETTE</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="dashboard-item dashboard-item-2 scenarioButtonOfDashboard" name="scenario2">
	<div data-toggle-if-scenar-in-histo="scenario2">
		<div class="dashboard-item-image" style="background-image:url(../medias/capsule/capsule-cartel-final.svg);"></div>
		<div class="dashboard-item-title">PLAT</div>
	</div>
	
	<div data-toggle-if-scenar-not-in-histo="scenario2">
		<div class="dashboard-item-image" style="background-image:url(../medias/capsule/capsule-archeo.svg);"></div>
		<div class="dashboard-item-title">
			<div class="casino">
				<div class="casino-roll">
					<div class="casino-roll-item">BIDULE</div>
					<div class="casino-roll-item">BIDISQUE</div>
					<div class="casino-roll-item">BIDETTE</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="dashboard-item dashboard-item-3 scenarioButtonOfDashboard" name="scenario3">
	<div data-toggle-if-scenar-in-histo="scenario3">
		<div class="dashboard-item-image" style="background-image:url(../medias/amphorisque/amphorisque-cartel-final.svg);"></div>
		<div class="dashboard-item-title">AMPHORISQUE</div>
	</div>
	
	<div data-toggle-if-scenar-not-in-histo="scenario3">
		<div class="dashboard-item-image" style="background-image:url(../medias/amphorisque/amphorisque-archeo-dashboard.svg);"></div>
		<div class="dashboard-item-title">
			<div class="casino">
				<div class="casino-roll">
					<div class="casino-roll-item">AMPHORULE</div>
					<div class="casino-roll-item">AMPHORISQUE</div>
					<div class="casino-roll-item">AMPHORETTE</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="dashboard-text" data-toggle-if-all-scenars-not-in-histo><strong>Saisissez un objet</strong>Pour l’identifier, laissez-vous guider et expérimentez la démarche scientifique</div>
<div class="dashboard-text" data-toggle-if-all-scenars-in-histo><strong>Bingo !</strong>Retrouvez ces objets dans le musée…</div>

<br>
<br>
<br>
<br>
<div class="scenarioButtonOfDashboard" name="presentation" data-step-id="step-end-1" style="position: absolute; bottom: 0; right: 0; margin: 20px 20px; color: white; opacity: .5;">Crédits</div>

<script type="text/javascript">
  
  $(document).on('click', '.scenarioButtonOfDashboard', function(e) {
	  var scenarId = $(this).attr('name');
	  var stepId = $(this).data('step-id') || undefined;
	  
	  stepIsEnding(function(){
		  socket.emit('client.setScenarioWithScenarId', {
		    scenarId: scenarId,
		    stepId: stepId
		  });
	  });
  }); 
  
  /*
	console.log('nav_history');
	console.log(nav_history);
	
	console.log('scenario_history');
	console.log(scenario_history);
	*/
</script> 

 <%- include('attr-text.ejs', {data: data}) %>
 