
Début du jeu = Interface Clic 1 : Graphisme : visuel cliquable des 3 objets (pipette et amphorisque aux formes complétées, capsule vue de dessus, représentés par leurs ombres ? cf. ICONO exemples graphisme : cartels) + texte « Objets à toucher »<br/>
+ Bandit manchot avec noms des 3 objets, dans une version remixée « Amphorule », « Pipisque » et « Capsette »  (ou autre mélange aléatoire)

<button class="btn btn-md btn-default gotoScenar" id="pipetteButton" name="pipetteButton" value="scenario1">Pipette</button>
<button class="btn btn-md btn-default" id="capsuleButton" name="capsuleButton" value="scenario2">Capsule</button>
<button class="btn btn-md btn-default" id="amphorisqueButton" name="amphorisqueButton" value="scenario3">Amphorisque</button>

<script>
	$(".")
</script>

 <%- include('attr-text.ejs', {data: data}) %>
 