<div class="matching-ihm">
	
	<div class="matching-ihm-image" style="background-image:url(/medias/capsule/capsule-archeo-comparaison.svg);"></div>
	
	<div class="matching-ihm-criteria">
  	<div id="Forme" class="criteria">Même forme</div>
  	<div id="Matiere" class="criteria">Matériau : métal</div>
  	<div id="Dimensions" class="criteria">Petites dimensions</div>
  	<div id="Decor" class="criteria">Décor crénelé</div>
  	<div id="Inscription" class="criteria">Inscription</div>
	</div>
	
	<div class="matching-ihm-items">
		<div class="matching-ihm-item" style="background-image:url(/medias/capsule/objet-plat-tarte-metal.svg);" id="plat-a-tarte"></div>
		<div class="matching-ihm-item" style="background-image:url(/medias/capsule/objet-plat-tarte-verre.svg)" id="plat-a-tarte-verre"></div>
		<div class="matching-ihm-item" style="background-image:url(/medias/capsule/objet-coquillage.svg)" id="coquillage"></div>
		<div class="matching-ihm-item" style="background-image:url(/medias/capsule/objet-charlotte.svg)" id="moule-charlotte"></div>
		<div class="matching-ihm-item" style="background-image:url(/medias/capsule/objet-roulette.svg)" id="roulette"></div>
		<div class="matching-ihm-item" style="background-image:url(/medias/capsule/objet-engrenage.svg)" id="pignon"></div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		// Init
		$('.matching-ihm-item, .criteria').removeClass("matching-on");

		// Highlighting element when matching.
		function highlight(e) {
			e.addClass("matching-on");
		}

		// click listener on all matching divs
		$('.matching-ihm-item').on('click', function(){
			$('.matching-ihm-item, .criteria').removeClass("matching-on");
			$(this).addClass('matching-on');

			switch ($(this).attr("id")) {
				
				case "plat-a-tarte" :
					highlight($('#Forme'));
					highlight($('#Matiere'));
					highlight($('#Decor'));
					highlight($('#Inscription'));
					break;
				
				case "plat-a-tarte-verre" :
					highlight($('#Forme'));
					highlight($('#Decor'));
					break;
				
				case "coquillage" :
					highlight($('#Decor'));
					highlight($('#Dimensions'));
					break;
				
				case "moule-charlotte" :
					highlight($('#Forme'));
					highlight($('#Matiere'));
					highlight($('#Decor'));
					break;

				case "roulette" :
					highlight($('#Matiere'));
					highlight($('#Dimensions'));
					highlight($('#Decor'));
					break;

				case "pignon" :
					highlight($('#Decor'));
					highlight($('#Matiere'));
					highlight($('#Dimensions'));
					break;

				case "boucles" :
					highlight($('#Forme'));
					highlight($('#Matiere'));
					highlight($('#Dimensions'));
					highlight($('#Decor'));
					highlight($('#Inscription'));
					break;
			}
		});

	});

</script>
