
<%- include('attr-choices.ejs', {data: data}) %>
<p>
Memory : 1 image (cartes, retournables avec animation) pour chacun des 4 conteneurs. 
Le médiateur fait discuter les participants sur chacun des objets, pris un par un mais dans l’ordre que l’on veut. On clique sur la carte pour voir s’afficher la réponse (validation / réfutation) OUI pour le tonneau cf. ICONO Schéma modalité d’usage, NON pour les autres (réponse sous forme de visualisation de la base de la pipette dans l’ouverture du contenant).
</p>
