<div class="row">
  <div class="col-md-12">
   <div id="textContent"><%= data.step.text %></div>
  </div>
</div>
<script>
    // cacher le bouton "prev"
    //$('#prevButton').hide();
    // label du bouton "next"
    $('#nextButton').html("Démarrer");
</script>