<div class="use-of-pipette">
	La pipette sert à prélever 
	<div class="choiceButton" id="but0" name="quel liquide" data-toggle-if-step-id-not-in-histo="step-1.9.1">quel liquide</div>
	<strong data-toggle-if-step-id-in-histo="step-1.9.1"<><br>du vin<br></strong>
  dans
  <div class="choiceButton" id="but1" name="quel conteneur" data-toggle-if-step-id-not-in-histo="step-1.9.3">quel conteneur</div>
	<strong data-toggle-if-step-id-in-histo="step-1.9.3"<><br>un tonneau<br></strong> 
	?
</div>

<script>
  // Choices button
  $(".choiceButton").on('click', function(e) {
    var choice = $(this).attr("name");
    console.log("'" + choice + "' button was choosen !");
    step_validation(choice);
  }); 
</script> 
