<% if ( data.step.choices ) { %>
	<% for(var i=0; i< data.step.choices.length; i++) {%>
		<button class="btn btn-md btn-info choiceButton" id="but<%=i%>" name="<%= data.step.choices[i] %>"><%= data.step.choices[i] %></button>
	<% } %>
<script>
$(".choiceButton").on('click', function(e) {
  var choice = $(this).attr("name");
  console.log("'" + choice + "' button was clicked !");
  step_validation(choice);
}); 
</script>	
<% } %>