@font-face {
  font-family: 'infiniregular';
  src: url('../assets/fonts/infini-regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/infini-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'infiniitalic';
  src: url('../assets/fonts/infini-italic-webfont.woff2') format('woff2'),
       url('../assets/fonts/infini-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'infinibold';
  src: url('../assets/fonts/infini-bold-webfont.woff2') format('woff2'),
       url('../assets/fonts/infini-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
	/* Margin bottom by footer height */
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: radial-gradient(#F1EFE8, #B9B1AA);
	margin: 0;
	padding: 0;
	color: #3e3939;
	transition: all 1000ms ease;
}

* { 
	outline:none; 
	font-family:infiniregular, Roboto, sans-serif;
	box-sizing:border-box;
}

/*
 A little Kévin Vennitti's button !
 */
#resetButton {
  position:absolute;
  top:0;
  right:0;
  width: 20px;
  height: 20px;
  z-index:10000;
}

/*
 Blink Classes !
*/
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Progress bar */
#progress {
    position: absolute;
    bottom: 0px;
    left:40%;
    margin: 20px;
    width: 200px;
    height: 100px;
    
    display:none; /* TODO */
}

.scenarioButtonOfDashboard,
.dashboard-text {
	transition:all 500ms ease;
}

.step-is-ending .scenarioButtonOfDashboard,
.step-is-ending .dashboard-text {
	opacity:0;
}

#goals-sidebar {
	position:absolute;
	right: 40px;
	width: 120px;
	top: 0;
	
	display:none; /* TODO */
}

body[data-template="cartel"] #goals-sidebar {
	display:none;
}

body[data-template="cartel"] {
	background: radial-gradient(#B9B1AA, #77706A);
}

body[data-template="cartel"].is-last-step-of-scenario {
	background:#dc8c36
}

body[data-template="credits"] {
	/* background: radial-gradient(#ce934a, #e48c2c); */
	background: radial-gradient(#b1806b, #774d3c);
}

body[data-template^="library"],
body[data-template="amphorisque-abc"] {
	background: radial-gradient(#C7B0A8, #6A5B4F);
}


.nav-button {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: none;
  text-indent: -99999px;
  font-size: 0;
  padding: 0;
  margin: 0;
  transition:all 120ms ease;
  transform: scale(1) translateZ(0);
  will-change:transform;
  z-index:1000;
}

.nav-button:active {
	background-color:rgba(255,255,255,.25) !important;
	transform:scale(.9) translateZ(0);
  transition:all 20ms ease;
  box-shadow:0px 10px 20px rgba(0,0,0,.05) !important;	
}

#prevButton {
  bottom: -10px;
  left: -20px;
  border-radius: 100px 100px 100px 0;
  background: url(../assets/images/arrow-left.svg) no-repeat top 33px left 38px white;
  transform-origin: bottom left;
  box-shadow: 5px 0px 30px rgba(0,0,0,.25);
}

.is-first-step-of-scenario #prevButton,
.is-last-step-of-scenario #nextButton,
.cant-next #nextButton {
	transform:scale(0) translateZ(0);
}

.is-last-step-of-scenario.is-final-bingo #nextButton {
	transform:scale(1) translateZ(0);
}

#nextButton {
  bottom: -10px;
  right: -20px;
  border-radius: 100px 100px 0 100px;
  background: url(../assets/images/arrow-right.svg) no-repeat top 33px left 32px white;
  transform-origin: bottom right;
  box-shadow: -5px 0px 30px rgba(0,0,0,.25);
}

.nav-video-playpause {
	width: 80px;
	height: 80px;
	background: url(../assets/images/icon-pause.svg) no-repeat center center rgba(0, 0, 0, 0.8) / 35px auto;
	position: absolute;
	bottom: 10px;
	right: 50%;
	margin-left: -40px;
	border-radius: 50px;
	position: absolute;
	top: 50%;
	right: 25px;
	margin-top: -20px;
	border-radius: 50px;
}

.is-video-paused .nav-video-playpause {
	background-image: url(../assets/images/icon-play.svg);
}

.nav-video-rewind {
	width: 60px;
	height: 60px;
	background: url(../assets/images/icon-rewind.svg) no-repeat center center rgba(0, 0, 0, 0.8) / 35px auto;
	position: absolute;
	top: 50%;
	left: 35px;
	margin-top: -5px;
	border-radius: 50px;
}
/*
.step-is-ending .module-media-video {
	transform:translateY(101vh)
}
*/

[data-template="library"] #textContent {
	position:absolute;
	top:0;
	left:0;
	right:0;
	background:rgba(0,0,0,.5);
	padding:30px 50px;
	font-size:40px;
	color:white;
	line-height:1.2
}

.module-media-video {
	background: rgba(0, 0, 0, 0.85);
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index: 900;
	transition:all 300ms ease;
}

.module-media-video-inner {
	position:absolute;
	width:1024px;
	height:586px;
	top:50%;
	left:50%;
	margin: -253px 0 0 -517px;
	border-radius: 30px;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.8);
	border: solid 10px rgba(0, 0, 0, 0.8);
}

.module-media-video video {
	width:100%;
	height:100%;
}

.cartel {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 30px 90px 30px 290px;
  /* overflow: hidden; */
  display: flex;
  background: #F1EFE8;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
  border-radius: 15px;
}

.is-last-step-of-scenario .cartel {
	background:#f7ece0;
	color: #5a3b14;
}

.is-last-step-of-scenario .goal-content {
	color: #5a3b14;
}

.is-last-step-of-scenario .cartel-credits {
	color: #5a3b145e;
}

.cartel-text {
  /* flex: 0 0 50%; */
  font-size: 44px;
  padding: 10px 90px 10px 40px;
  width: 70%;
  align-self: center;
  /* text-shadow: 0 3px 2px #d8d5d5, 2px -4px 2px #eaeacd, -2px 3px 3px #ece0e0, 2px 3px 3px #bbb4b4; */
  position: relative;
}

.cartel-text .sub {
	font-size:30px;
	color: #7d7777;
}

.cartel-credits {
	/* position:absolute; */
	font-size: 16px;
	text-transform: uppercase;
	bottom: 40px;
	margin-top: 30px;
	left: 40px;
	letter-spacing: 2px;
	font-weight: bold;
	color: #0000004d;
	text-shadow: -1px -2px 0px #8c8a8500, 0px -2px 0px #8c8a8500, 1px -2px 0px #8c8a8500;
}

.cartel-image {
  width: 430px;
  background: #ffffff;
  /* padding: 40px; */
  margin: 20px 20px 20px -200px;
  border-radius: 25px;
  border: solid 0px #75515185;
  overflow: hidden;
  box-shadow: 0 30px 50px #7b6e6e85;
}

.cartel-image-image {
  /* flex: 1 50%; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* margin: 40px; */
  width: 100%;
  height: 100%;
}

.cartel-image-image.background-size-cover {
	background-size:cover;
}

.goal-content {
	font-weight:bold;
	/*animation: goal-content 10000ms ease forwards;*/
}

@keyframes goal-content {
	0%, 80% {
		color:#8e6666;
/* 		text-shadow:0 3px 2px #d5d8d5, -2px -4px 2px #ffffff, 2px -4px 2px #d3dcd3, -2px 3px 3px #e1ece0, 2px 3px 3px #b5bfb6; */

	}
	
	100% {
		color:#3e3939;
	}
}

.goal-maybe {
	animation: goal-maybe 1500ms ease infinite forwards;
	font-weight:bold;
	line-height:1.2;
}



@keyframes goal-maybe {
	50% {
		opacity:.3;
	}
}

#menu-trigger {
	position:absolute;
	top:0;
	left:0;
	width: 70px;
	height: 56px;
	z-index: 100001;
	background: url(../assets/images/icon-dashboard.svg) no-repeat center / 50% auto #00000000;
	border-radius: 70px;
	margin: 0px;
	opacity: 0.3;
}

#menu {
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	width: 250px;
	background:white;
	transform:translateX(-100%);
	transition:all 300ms ease;
	z-index: 10000;
	padding: 30px;
}

.is-menu-open #menu {
	transform:translateX(0);
}

.module-choices {
  display: flex;
  flex-wrap: wrap;
  /* align-content: space-between; */
  align-items: stretch;
  /* justify-content: space-evenly; */
  width: 95%;
  margin: 0 auto;
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
}

.module-choices-choice {
  flex: 1 20%;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 10px 30px #B9B1AA;
  border: solid 5px #a29a92;
  max-height: 260px;
  transform:scale(1);
  transition:all 100ms ease;
}

.module-choices-choice:active {
  transform:scale(.95);
  box-shadow: 0 5px 5px #7b746e;
  opacity: .5;
}

.choiceButton {
}

#data-title {
  /* background: white; */
  padding-top: 35px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  text-align: center;
  font-size: 40px;
  pointer-events: none;
  line-height: 1.1;
  z-index: 998;
  transition:opacity 300ms ease;
}

.is-bingo-transition #data-title {
	opacity:0;
}

[data-template="video"] #data-title {
	z-index:10000;
	color:white;
	/* top: 0px; */
	/* margin: 0 20px; */
	font-size: 37px;
	/* padding-top: 21px; */
}

.module-choices-choice-image {
  /* flex: 1; */
  /* height: 70%; */
  overflow: hidden;
  padding-top: 160px;
  margin: 20px 10px 0;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  /* border-radius: 5px; */
}

body[data-step="step-1.9.3"] .module-choices-choice-image {
	background-position: center bottom;
}

.module-choices-choice-text {
  padding: 5px 10px 16px;
  /* flex: 0; */
  text-align: center;
  font-size: 30px;
  line-height:1.2;
  font-family: infinibold;
}







.module-cards {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  /* justify-content: space-evenly; */
  width: 95%;
  margin: 0 auto;
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  bottom: 100px;
}

[data-step-id="step-6"] .module-cards {
	align-content: space-between;
	justify-content: center;
	align-items: stretch;
}

[data-step-id="step-6"] .module-cards-card {
	flex: 0 30%;
}

.module-cards-card {
  flex: 1 20%;
  /* background: white; */
  border-radius: 15px;
  /* overflow: hidden; */
  margin: 15px 20px;
  /* box-shadow: 0 10px 30px #B9B1AA; */
  /* border: solid 5px #a29a92; */
  /* max-height: 260px; */
  transform:scale(1);
  transition: all 600ms ease;
  position: relative;
  will-change: contents;
  perspective: 600px;
  transform-style: preserve-3d;
}


.module-cards-card.flipped {
	transform: scale(1.1);
}

.module-cards-card-recto,
.module-cards-card-verso {
    position: relative;
    /* box-shadow: 0 10px 30px #B9B1AA; */
    border: solid 5px #a29a92;
    background: white;
    transform-style: preserve-3d;
    perspective-origin: 600px;
    border-radius: 10px;
    transition: all 600ms ease;
    backface-visibility: hidden;
}

.module-cards-card-recto {
}

.module-cards-card-verso {
    position: absolute;
    top: 0;
    /* bottom: 0; */
    left: 0;
    right: 0;
    transform: rotateY(-180deg);
}

.flipped .module-cards-card-recto {
    transform: rotateY(180deg);
}

.flipped .module-cards-card-verso {
    transform: rotateY(0deg);
}

.module-cards-card-image {
  /* flex: 1; */
  /* height: 70%; */
  overflow: hidden;
  padding-top: 160px;
  margin: 20px 10px 0;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  /* border-radius: 5px; */
}

body[data-step-id="step-1.9.3"] .module-cards-card-image {
	padding-top:250px;
	background-position: center bottom;
}
.module-cards-card-text {
  padding: 5px 10px 16px;
  /* flex: 0; */
  text-align: center;
  font-size: 30px;
  font-family: infinibold;
  line-height:1.2
}







.module-text-wrong {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px 60px;
	background: white;
	border-radius: 90px;
	font-size: 50px;
	font-weight: bold;
	box-shadow: 0 60px 100px #c5bdb4;
	animation:module-text-wrong 200ms ease forwards
}

@keyframes module-text-wrong {
	from {
		transform:translate(-50%, -50%) scale(.5);
		opacity:.5;
	box-shadow: 0 0px 0px #c5bdb42e;
	}
	to {
		transform:translate(-50%, -50%) scale(1);
		opacity:1;
	box-shadow: 0 60px 100px #c5bdb4;
	}
}


#bingo {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #774d3c;
	transition: all 300ms ease;
	pointer-events: none;
	opacity:0;
	z-index: 999;
}

.is-bingo-transition #bingo {
	pointer-events: all;
	opacity: 1;
}

.is-final-bingo #bingo {
	background: #d4730b;
}

#bingo img {
	position: absolute;
	top: 50%;
	left: 50%;
	width:606px;
	height:122px;
	margin: -61px 0 0 -303px;
	transform: scale(.5) translateZ(0);
	opacity:0;
	transition:all 500ms ease;
	transform-origin: center center;
	will-change: transform;
}

.is-bingo-transition #bingo img {
	transform: scale(1) translateZ(0);
	opacity:1;
}

.is-final-bingo #bingo img {
	transform: scale(1.2) translateZ(0);
	opacity:1;
}

.book-left {
  position: absolute;
  left: 0;
  bottom: 100px;
  height: 250px;
  width: 400px;
  background: url(../assets/images/books-left.svg) no-repeat left center transparent / contain;
  z-index: 10;
  pointer-events: none;
}

.book-right {
  position: absolute;
  right: 0;
  top: 100px;
  height: 250px;
  width: 400px;
  background: url(../assets/images/books-right.svg) no-repeat right center transparent / contain;
  z-index: 10;
  pointer-events: none;
}

.ask-for-other-results-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-align: center;
  font-family: infinibold;
  background: white;
  border-radius: 215px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 70px 60px #8c7e71;
  border: solid 5px #5d5650;
  padding: 30px;
  line-height: 1.3;
  transition: all 300ms ease;
}

.library-pipette.is-loading .ask-for-other-results-button,
.library-pipette.is-loaded .ask-for-other-results-button {
  transform: translate(-50%, -50%) scale(1.5);
  opacity: 0;
  pointer-events: none;
}

.ask-for-other-results-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  text-align: left;
  transform: translate(-50%, -50%) scale(.5);
  font-size: 50px;
  color: #3e3939;
  font-family: infinibold;
  line-height: 1;
  opacity: 0;
  padding-left: 75px;
  transition: all 300ms ease;
  background: url(../assets/images/loading.svg) no-repeat left center / 55px auto;
}

.library-pipette.is-loading .ask-for-other-results-loading {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.library-pipette.is-loaded .ask-for-other-results-loading {}

.ask-for-other-results-image {
  transform: translate3d(0, 100vh, 0);
  position: absolute;
  z-index: 20;
  border-radius: 25px;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 30px auto;
  transition: all 400ms cubic-bezier(.16,.01,.08,1);
}

.library-pipette.is-loaded .ask-for-other-results-image {
  transform: translate3d(0,0,0);
}

.ask-for-other-results-image .module-media-image {
  width: 100%;
  height: 100%;
}

.ask-for-other-results-image .module-media-image img {
  width: 100%;
  border-radius: 25px;
}



.use-of-pipette {
	font-size: 50px;
	position: absolute;
	top: 0;
	left: 0;
	/* bottom: 0; */
	right: 0;
	width: 80%;
	margin: 110px auto 0;
	line-height: 1.2;
	text-align: center;
	/* border: solid 4px #3e3939; */
	border-radius: 20px;
	padding: 40px;
	background: #ffffffa1;
}

.use-of-pipette .choiceButton {
	background:white;
	padding: 20px 40px;
	display: block;
	border-radius: 100px;
	box-shadow: 0 20px 50px #cac6c078;
	border: solid 5px #757068;
	color: #443c2e;
	width: fit-content;
	margin: 20px auto;
	font-weight: bold;
}


.context {}

.context-image {}

.context-image-image {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 20px;
  transform: translate(-50%,-50%);
  background-color: white;
  width: 340px;
  height: 530px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px;
  box-shadow: 0 30px 50px #ada59c;
}

.amphorisque-abc-image {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 20px;
  transform: translate(-50%,-50%);
  background-color: white;
  width: 1148px;
  height: 544px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 25px;
  box-shadow: 0 30px 50px #635e58;
  z-index: 1000;
}


.module-toolbox {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.module-toolbox-choice {
  background: white;
  border-radius: 200px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 50px 100px #a29a92;
  border: solid 5px #a29a92;
  transform:scale(1);
  transition:all 100ms ease;
  display:flex;
  align-items:center;
  width:fit-content;
}

.module-toolbox-choice:active {
  transform:scale(.95);
  box-shadow: 0 5px 5px #7b746e;
  opacity: .5;
}

.module-toolbox-choice-image {
	width: 300px;
	height: 300px;
	border: solid 30px white;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	flex: 0 0 300px;
}

.module-toolbox-choice-text {
	font-size: 60px;
	font-family:infinibold;
	padding: 30px 100px 30px 30px;
	/* white-space:nowrap; */
	line-height: 1.3;
}

body[data-step-id="step-9"] .cartel-text,
body[data-step-id="step-12"] .cartel-text {
  font-size: 36px;
}

body[data-step-id="step-1.12"] .cartel-text,
body[data-step-id="step-9"] .cartel-text,
body[data-step-id="step-12"] .cartel-text {
	width:80%;
}

body[data-step-id="step-1.12"] .cartel-image,
body[data-step-id="step-9"] .cartel-image,
body[data-step-id="step-12"] .cartel-image {
	width:340px;
}


.matching-ihm {
  position: absolute;
  top: 100px;
  left: 50px;
  right: 40px;
  bottom: 80px;
}

.matching-ihm-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 280px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0 20px 30px #B9B1AA;
}

.matching-ihm-criteria {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 300px;
  width: 410px;
  /* background: red; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
}

.criteria {
  /* flex: 1; */
  text-align: left;
  padding: 20px 0px;
  padding-left: 31px;
  font-size: 40px;
  /* background: white; */
  border-radius: 65px;
  font-family: infinibold;
  line-height: 1;
  border: solid 5px transparent;
  letter-spacing: -1px;
  /* background: #774d3c40; */
}

.criteria.matching-on {
  background-color: white;
  color: #108DBB;
  /* border-color: #108DBB; */
  background: #774d3c;
  color: white;
}

.matching-ihm-items {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 450px;
  /* background: rebeccapurple; */
  display: flex;
  flex-wrap: wrap;
}


.matching-ihm-item {
  background-color: white;
  width: 50%;
  flex: 1 43%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px;
  background-size: contain;
  border-radius: 20px;
  box-shadow: 0 20px 30px #B9B1AA;
  border: solid 10px transparent;
}

.matching-ihm-item.matching-on {
  border-color: #774d3c;
  box-shadow: 0 20px 30px #8a827b;
}


.module-carousel {
	position:absolute;
	top: 90px;
	bottom:100px;
	left:0px;
	right:0px;
}

.module-carousel-slide.swiper-slide {
	width:70%;
	background: white;
	border-radius: 25px;
	overflow: hidden;
	box-shadow: 0 20px 40px #B9B1AA;
	margin: 0px 0 40px;
}

[data-step-id="step-5"][data-template="carousel"] .module-carousel-slide.swiper-slide {
	width:40%;
}


[data-step-id="step-5"][data-template="carousel"] .module-carousel-slide-image {
	height:300px;
	margin:50px 0 15px;
}

.module-carousel-slide-image {
	height:360px;
	background-position: center center;
	background-size:contain;
	background-repeat: no-repeat;
	margin:20px 0;
}

.background-cover .module-carousel-slide-image {
	background-size:cover;
	margin:0;
	height:400px;
}

.module-carousel-slide-text {
	font-size: 35px;
	text-align:center;
	padding: 20px 30px;
	font-family:infinibold;
	line-height: 1.2;
	letter-spacing:-1px;
}

.casino {
	position:relative;
	/* background:gray; */
	height:50px;
	width: 270px;
	overflow:hidden;
	margin: 0 auto;
}

.casino-roll-item {
	line-height: 45px;
	position:absolute;
	top:-100%;
	left:0;
	right:0;
	height:100%;
	color: #3e3939;
	font-size: 30px;
	font-weight: 900;
	text-align: center;
}

.casino-roll-item:nth-of-type(1) {
	animation: casino-roll-item 6000ms ease-in-out infinite;
}

.casino-roll-item:nth-of-type(2) {
	animation: casino-roll-item 6000ms ease-in-out 2000ms infinite;
}

.casino-roll-item:nth-of-type(3) {
	animation: casino-roll-item 6000ms ease-in-out 4000ms infinite;
}

@keyframes casino-roll-item {
	0% {
		transform:translateY(0%);
	}
	16.666%, 33.333% {
		transform:translateY(100%);
	}
	50%, 100% {
		transform:translateY(200%);
	}
}
















.dashboard-item {
	background:white;
	position:absolute;
	height: 500px;
	border-radius: 10px;
	box-shadow: 0 30px 60px #3e393978;
	margin-top: -10px;
	width: 280px;
}

.dashboard-item-1 {
	top: 50px;
	left: 130px;
	/* transform: rotateZ(-4deg); */
}

.dashboard-item-2 {
	top: 50px;
	left: 505px;
}

.dashboard-item-3 {
	left: 880px;
	top: 50px;
	/* transform: rotateZ(4deg); */
}

.dashboard-item-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 55px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.dashboard-item-image:before {
	content:"";
	display:block;
}

.dashboard-item-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20px 0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.dashboard-text {
	bottom: 50px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0;
	text-align: center;
	font-size: 30px;
	pointer-events: none;
	line-height: 1.1;
	font-weight: bold;
	text-align:center;
	color:white;
	text-shadow:0 5px 10px rgba(0,0,0,.2);
}

.dashboard-text strong {
	display:block;
	font-size: 42px;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin-bottom: 13px;
	font-weight: 900;
}

[data-template="dashboard"] {
	background: radial-gradient(#C7B0A8, #6A5B4F);
	background: radial-gradient(#b1806b, #774d3c);
}

[data-template="presentation"] {
	background: radial-gradient(#b1806b, #774d3c);
	/* background: #774d3c; */
}

[data-step-id="step-0.2"] #data-title {
	color: white;
	padding-left: 40px;
	top: auto;
	bottom: 190px;
	text-shadow: 0 5px 10px #00000066;
	line-height: 1.2;
	font-size: 55px;
	left: 0;
	text-align: center;
}

[data-step-id="step-0.2"] #stepTemplate {/* display:none; */width: 100%;height: 100%;background: linear-gradient(to left, #00000047, #0000000a);position: absolute;top: 0;left: 0;}

.onboarding-title {
  text-align: center;
  width: auto;
  color: white;
  font-size: 150px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 5px;
  margin-top: 230px;
  text-shadow: 0 10px 100px #694638;
}

.onboarding-subtitle {
  text-align: center;
  width: auto;
  color: white;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 15px;
  margin-top: 10px;
  text-shadow: 0 10px 40px #694638;
}

.credits-cols {
    /* display: flex; */
    font-size: 18px;
    margin: 50px 20px 0 50px;
    color: #ffffffcc;
    text-shadow: 0 2px 5px #71402d;
}

.credits-col1,
.credits-col2,
.credits-col3 {display: inline-block;vertical-align: top;}

.credits-col1 {
    /* flex: 0 0 100px; */
    margin-right: 30px;
    /* flex: none; */
    /* width: 100%; */
    /* height: 50px; */
    /* word-break: break-word; */
    width: 250px;
}

.credits-col2 {
    width: 460px;
    margin-right: 30px;
}

.credits-col2 .credits-item {
	margin-bottom: 0px;
}

.credits-col2 strong {/* display:block; */}

.credits-col3 {
    /* margin-top: 66px; */
    width: 710px;
}

.credits-cols h2 {
    font-size: 16px;
    margin: 0 0 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #292626;
}

.credits-cols h3 {
    font-size: 18px;
    margin: 0px 0 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: bold;
}

.credits-cols img {
    max-height: 40px;
    max-width: 220px;
    margin: 0px 50px 30px 0;
    vertical-align: middle;
}

.credits-logos {
	text-align: center;
	/* width: 1000px; */
	margin: 0px auto 0;
	background: #f1e8e5;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 180px;
	padding: 35px 150px;
}