html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
    margin-bottom: 60px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: black;
}

body > * {color:#afafaf;}

/*
 A little Kévin Vénnitti's button !
 */
#resetButton {
  position:absolute;
  top:0;
  right:0;
  width:50px;
  height:50px;
  z-index:10000;
}

/*
 Blink Classes !
*/
.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Progress bar */
#progress {
    position: absolute;
    bottom: 0px;
    left:40%;
    margin: 20px;
    width: 200px;
    height: 100px;
}

.scenarioButtonOfDashboard {
	transition:all 500ms ease;
}

.step-is-ending .scenarioButtonOfDashboard {
	opacity:0;
}

#goals-sidebar {
	position:absolute;
	right:0;
	height:340px;
	width:80px;
	background:white;
	top:50%;
	margin-top:-170px;
}

#goals-sidebar-image {
	width:100%;
	height:100px;
}

#goals-sidebar-goals {
	
}

.goals-sidebar-goal {
	width:80px;
	height:80px;
	background:gray;
}

.goals-sidebar-goal.done {
	background:yellow;
}