html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
    margin-bottom: 60px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: black;
}

body > * {color:#afafaf;}

#serviceMessage {
  position: absolute;
  z-index: 10;
  display: block;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0);

  color:white;
  font-family: verdana;
  font-size: 2.5em; 
  margin: 0;
  padding: 20%;
}