 <!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>JukeBox Vidéo</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />

	<script src="/js/jquery.min.js"></script>
 	<script src="/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
 
  </head>

  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">JukeBox Vidéo</a>
        </div>
      </div>
    </nav>

    <!-- Begin page content -->
    <div class="container-fluid">
      <div class="page-header">
      <br/>
      </div>  
    </div>

	<footer class="footer">
       <div class="container-fluid"> 
      </div>
	</footer>
	<div id="progress">
   <ul id="messages"></ul> 
  </div>


	<script type='text/javascript'> 
    var socket = io();

    socket.on('rfidData', function(data) {
        addMessage("rfid #" + data.tag + " on reader #" + data.reader);
        console.log(data);

        // Respond with a message including this clients' id sent from the server
        socket.emit('clientAcknowledgment', {message: "Ok! Client is dealing with : #" + data.tag});
    });
    socket.on('time', function(data) {
        addMessage(data.time);
    });
    socket.on('error', console.error.bind(console));
    socket.on('message', console.log.bind(console));

    function addMessage(message) {
        var text = document.createTextNode(message),
            el = document.createElement('li'),
            messages = document.getElementById('messages');

        el.appendChild(text);
        messages.appendChild(el);
    }
	</script>
  </body>
</html>
