<%- include('header', {data: data}) %>
<script type='text/javascript'> 
  // var rfid_mode = "<%=data.rfid_mode%>";
  // var numReaders = eval(<%=data.numReaders%>);
</script>
<script type='text/javascript' src='/js/rfid-video-player.js'></script> 

<link rel='stylesheet' href='/style/style.css' />
      <div class="page-header">

      <div class="row">
        <div class="col-md-12">
          <a href="#" id="resetButton"></a>
          <video src="#" id="embeded-video" width="100%" height="100%"></video>
          <div id="serviceMessage"></div>
        </div>
      </div>

      </div>  
<%- include('footer', {data: data}) %>
