<%- include('header', {data: data}) %>
<h1 id="data-title"></h1>
<h2 id="data-step-title"></h2>
<link rel='stylesheet' href='/style/style.css' />
      <div class="page-header">

        <div class="row">
          <div class="col-md-12">
            <a href="#" id="resetButton"></a>
              <div id="stepTemplate"></div>
              <div id="serviceMessage"></div>
              <div id="transitionsTemplate"></div>
          </div>
        </div>

      </div>  
<script>
$(document).ready(function(){
  var socket = io(); //'http://localhost:3000'
  var scenario = {}; // Scenario given by the rfid reading
  var step = {};     // Current step in the scenario
  var content = {}; // Rendered template of the current step
  // ------------------------------------------------------------------
  // Scenario managing functions
  // ------------------------------------------------------------------

  // Get details of a step with the current step
  function getCurrentStepDetails(){
    var stepItem = "";
    for (var i=0; i<scenario.steps.length; i++) {
      if(scenario.steps[i].stepId == scenario.currentStep) {
        stepItem = scenario.steps[i];
        break;
      }
    }
    console.log(stepItem);
    return stepItem;
  }

  // Set Scenario title
  function setScenarioTitle(t) {
    $('title').html(t);
    $('#data-title').html(t);
  }

  // Set step title
  function setStepTitle(t){
    $('#data-step-title').html(t);
  }

  // Display rendered template
  function displayTemplate(content, domId) {
    $(domId).html(content);
  }

  // Analyses and build transition tests for next step
  function setTransitions(trns) {
    //transitions = "";
    trns.forEach(function(t){
      //transitions += "if ( endMedia() ) { setTimeout() }"
      console.log(t.id + " / condition : '"+ t.condition +"' / duration="+ t.duration + "");
    });
  }

  // ------------------------------------------------------------------
  // Getting embeded templates
  // ------------------------------------------------------------------
  function getTemplate(url, data, resultDomId) {
    data.scenarId = scenario.scenarId;
    data.scenarioMediaPath = scenario.scenarioMediaPath;

    $.ajax({
       url: url,
       data: data,
       type: 'POST',
       error: function(req, textStatus) {
        // TODO something clever to show error ! 
        //$("#stepTemplate").html(req.responseText);
        console.log(req);
        displayTemplate(req.responseText, resultDomId);
       },
       success: function(html) {
        // TODO : write a callback to update page
        displayTemplate(html, resultDomId);
       }
    });
  }

  // ------------------------------------------------------------------
  // Socket listening
  // ------------------------------------------------------------------
  // Receiving new media attributes by socket.
  socket.on('server.rfidData', function(data) {
    console.log(data);
  });

  // Receiving scenario from server
  socket.on('server.play-scenario', function(data) {
    scenario = data;
    console.log(scenario);
    // Set title
    setScenarioTitle(scenario.title);
    // get step
    step = getCurrentStepDetails();
    // step title
    setStepTitle(step.title);
    // transitons
    //setTransitions(step.transitions);
    // get step template
    content = getTemplate('/scenario/step-template', step, "#stepTemplate");
    // get transiton template
    content = getTemplate('/scenario/step-transitions', step, "#transitionsTemplate");
  });

  // ------------------------------------------------------------------
  // Conditional display of controls
  // ------------------------------------------------------------------
  

}); // End document.ready
</script>
<%- include('footer', {data: data}) %>
