<%- include('header', {data: data}) %>
<link rel='stylesheet' href='/style/style.css' />
<a href="#" id="resetButton"></a>
<h1 id="data-title"></h1>
<h2 id="data-step-title"></h2>

<div class="page-header">

  <div class="row">
    <div class="col-md-12">
        <div id="stepTemplate"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

    </div>
  </div>

  <div id="progress"></div>

</div> 

<p id="stepListeners"></p>


<button class="nav-button" id="prevButton" name="prevButton" value="prev">&lt;</button>
<button class="nav-button" id="nextButton" name="nextButton" value="next">&gt;</button>

<div id="goals-sidebar">
	<div id="goals-sidebar-image"></div>
	<div id="goals-sidebar-goals">
		<div class="goals-sidebar-goal done"></div>
		<div class="goals-sidebar-goal"></div>
		<div class="goals-sidebar-goal"></div>
	</div>
</div>

<div id="menu-trigger"></div>

<nav id="menu">
	<h2>MENU</h2>
	<div class="scenarioButton" name="scenario0" data-step-id="step-0.4">Dashboard</div>
<br><br>
	<div class="scenarioButton" name="scenario1">Scénario Pipette</div>
<br><br>
	<div class="scenarioButton" name="scenario2">Scénario Capsule</div>
<br><br>
	<div class="scenarioButton" name="scenario3">Scénario Amphorisque</div>
</nav>

<script type='text/javascript' src='/js/scenario.js'></script> 
<script>
$(document).ready(function(){
  // ------------------------------------------------------------------
  // Socket listening and emitting
  // ------------------------------------------------------------------
  // Receiving scenario from server
  socket.on('server.play-scenario', function(data) {
	  console.log('receive play scenario');
	  console.log(data);
    scenario = data;
    // Loading first step
    loadStep(scenario);
  });
  
  $('#menu-trigger').on('click', function(){
	  $('body').toggleClass('is-menu-open');
  });
  
  $(document).on('click', '.scenarioButton', function(e) {
    socket.emit('client.setScenarioWithScenarId', {
	    scenarId: $(this).attr('name'),
	    stepId: $(this).data('step-id') || undefined
	  });
  }); 
  
  // Some debug
	console.log('nav_history');
	console.log(nav_history);
	
	console.log('scenario_history');
	console.log(scenario_history);
	
	
}); // End document.ready
</script>
<%- include('footer', {data: data}) %>
