<%- include('header', {data: data}) %>
<link rel='stylesheet' href='/style/style.css' />

      <div class="page-header">

      <div class="row">
        <div class="col-md-12">
        <video src="#" id="embeded-video" width="100%" height="100%"></video>
        <div id="serviceMessage"></div>
        </div>
      </div>

      </div>  

	<script type='text/javascript'> 
$(document).ready(function(){
    var media = $('#embeded-video');
    var socket = io();
    var waitingStatus = false;

    // Receiving new media attributes by socket.
    socket.on('server.rfidData', function(data) {
        addMessage("rfid #" + data.tag + " on reader #" + data.reader);
        console.log(data);

        // Respond with a message including this clients' id sent from the server
        socket.emit('client.acknowledgment', {message: "Ok! Client is dealing with : #" + data.tag});
    });
    // debug function
    socket.on('server.time', function(data) {
        addMessage(data.time);
    });
    // Dealing with errors
    socket.on('server.error', console.error.bind(console));
    // Service messages (media)
    socket.on('server.message', playMedia);
    // Media service
    socket.on('server.play-media', playMedia);

    function addMessage(message) {
        console.log(message);
    }

    // Playing Media callback 
    function playMedia(v) {
      console.log(v);
      // Hide service message
      $('#serviceMessage').hide();

      // Stopping previous media
      media.stop();

      // chaging media source
      media.attr("src", v.uri);

      // Looping attribute
      if (v.loop == "on") {
        media.attr("loop", v.loop);
      } else { 
        media.removeAttr("loop"); 
      }

      // Autoplay Attribute
      if (v.autoplay == "on")  {
        media.attr("autoplay", v.autoplay); 
      } else { 
        media.removeAttr("autoplay"); 
      }

      // Controls attribute
      if (v.controls == "on") {
        media.attr("controls", v.controls);
      } else { 
        media.removeAttr("controls"); 
      }
      // Put status and tag as attributes too
      media.attr("status", v.status);
      media.attr("tag", v.tag);
      media.attr("filename", v.filename);

    }

    // Adding a listener on video ending
    media.on('ended',function(){
      var messageTag = "";
      var urlContrib = "<br/><a class='btn btn-xs btn-default' title='Ajouter un contenu lié à ce tag RFID' href='/contrib?tag=" + media.attr("tag") + "'>Ajouter un contenu</a>";
      var tempo = 5000;
      // If the video was a service message "noTagAssociation" or "mediaNotFound" let's print rfid tag or filename
      switch (media.attr("status")) {
        case "noTagAssociation":
          messageTag = "Le tag RFID comportant le code : \"" + media.attr("tag") + "\" n'est associé à aucun mot-clé." + urlContrib;
          break;
        case "mediaNotFound":
          messageTag = "Le fichier : " + media.attr("filename") + "\" est introuvable.";
          break;
        case "content":
        // this is the normal way to play media
        tempo = 0;
      }

      // display mesage
      if (messageTag != "") {
        $('#serviceMessage').html(messageTag);
        $('#serviceMessage').fadeIn('slow');
      } 

      // Emitting endMedia out server. 
      // At least the service message if any, stays for 5 seconds.
      setTimeout(function() {
        $('#serviceMessage').hide();
        socket.emit('client.endMedia', { message: messageTag });
      }, tempo);
      
    });

}); // $(document).ready()

	</script>
<%- include('footer', {data: data}) %>
