 <!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>JukeBox Vidéo</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />

	<script src="/js/jquery.min.js"></script>
 	<script src="/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
 
  </head>

  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">JukeBox Vidéo</a>
        </div>
      </div>
    </nav>

    <!-- Begin page content -->
    <div class="container-fluid">
      <div class="page-header">

      <div class="row">
        <div class="col-md-12">
        <video src="#" id="embeded-video" width="100%" height="100%"></video>
        </div>
      </div>

      </div>  
    </div>

	<footer class="footer">
       <div class="container-fluid"> 
      </div>
	</footer>

	<script type='text/javascript'> 
$(document).ready(function(){
    var vid = $('#embeded-video');
    var socket = io();

    socket.on('server.rfidData', function(data) {
        addMessage("rfid #" + data.tag + " on reader #" + data.reader);
        console.log(data);

        // Respond with a message including this clients' id sent from the server
        socket.emit('client.acknowledgment', {message: "Ok! Client is dealing with : #" + data.tag});
    });
    socket.on('server.time', function(data) {
        addMessage(data.time);
    });
    socket.on('server.error', console.error.bind(console));
    socket.on('server.message', setServiceMessage);

    function addMessage(message) {
        console.log(message);
    }

    function setServiceMessage(message) {
      console.log(message);
      vid.attr("src", message.uri);
      if (message.loop == "on") vid.attr("loop", message.loop);
      if (message.autoplay == "on") vid.attr("autoplay", message.autoplay);
      if (message.controls == "on") vid.attr("controls", message.controls);
    }

    // Video.
    // Par défaut, la vidéo est celle qui incite à poser un tag.
}); // $(document).ready()

	</script>
  </body>
</html>
