<%- include('header', {data: data}) %>

<h1 id="data-title"></h1>
<h2 id="data-step-title"></h2>
<link rel='stylesheet' href='/style/style.css' />
      <div class="page-header">

        <div class="row">
          <div class="col-md-12">
            <a href="#" id="resetButton"></a>
              <div id="stepTemplate"></div>
              <div id="serviceMessage"></div>
              <div id="transitionsTemplate"></div>
          </div>
        </div>

      </div> 
<script type='text/javascript' src='/js/scenario.js'></script> 
<script>
$(document).ready(function(){
  // ------------------------------------------------------------------
  // Socket listening
  // ------------------------------------------------------------------
  // Receiving new media attributes by socket.
  socket.on('server.rfidData', function(data) {
    console.log(data);
  });

  // Receiving scenario from server
  socket.on('server.play-scenario', function(data) {
    scenario = data;
    console.log(scenario);
    // Loading first step
    loadStep(scenario);
  });

  // ------------------------------------------------------------------

}); // End document.ready
</script>
<%- include('footer', {data: data}) %>
