<%- include('header', {data: data}) %>
<h1 id="data-title"></h1>
<link rel='stylesheet' href='/style/style.css' />
      <div class="page-header">

        <div class="row">
          <div class="col-md-12">
            <a href="#" id="resetButton"></a>

            <video src="#" id="embeded-video" width="100%" height="100%"></video>
            <div id="serviceMessage"></div>
          </div>
        </div>

      </div>  
<script>
$(document).ready(function(){
  var socket = io('http://localhost:3000');
  var scenario = {};
  var step = ""; // Current step in the scenario

  // ------------------------------------------------------------------
  // Scenario managing functions
  // ------------------------------------------------------------------

  // Get details of a step with the current step
  function getCurrentStepDetails(){
    var stepItem = "";
    for (var i=0; i<scenario.steps.length; i++) {
      if(scenario.steps[i].stepId == scenario.currentStep) {
        stepItem = scenario.steps[i];
        break;
      }
    }
    return stepItem;
  }

  // ------------------------------------------------------------------
  // Socket listening
  // ------------------------------------------------------------------
  // Receiving new media attributes by socket.
  socket.on('server.rfidData', function(data) {
    console.log(data);
  });

  // Receiving scenario from server
  socket.on('server.play-scenario', function(data) {
    scenario = data;
    console.log(scenario);
    // Set title
    $('#data-title').html(scenario.title);
    // set step
    step = getCurrentStepDetails();
    // scenario.steps.forEach(function(s){
    //   if(scenario.currentStep == s.stepId) {
    //     step = s;
    //     return false;
    //   }
    // });

    console.log(step);
  });

  // ------------------------------------------------------------------
  // Data Binding
  // ------------------------------------------------------------------

  //$("[id^='data-']").each(function (i, el) {
  //  console.log(i + " : " + el.id);
  //});
  /*  
    1. parcourir toutes les propriétés de l'objet et binder un élément html
    2. faire un controle d'erreur sur les elmts inexistants
    3. En fonction de l'étape courant, faire un binding des éléments de l'étape.
  */

  // ------------------------------------------------------------------
  // Getting embeded templates
  // ------------------------------------------------------------------
  
  /*
    1. Aller chercher le template à l'aide d'un get ajax qui fait un render
    2. Faire un binding des data ? Ou alors envoyer le scenarId et le currentStep
    qui permettent de rendre directement le bon template avec ses données ? 

  */

  // ------------------------------------------------------------------
  // Conditional display of controls
  // ------------------------------------------------------------------
  

}); // End document.ready
</script>
<%- include('footer', {data: data}) %>
