<%- include('header', {data: data}) %>
<link rel='stylesheet' href='/style/style.css' />
<a href="#" id="resetButton"></a>
<h1 id="data-title"></h1>
<h2 id="data-step-title"></h2>
      <div class="page-header">

        <div class="row">
          <div class="col-md-12">
              <div id="stepTemplate"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
              <button class="btn btn-md btn-default" id="prevButton" name="prevButton" value="prev">&lt;</button>
              <button class="btn btn-md btn-default" id="nextButton" name="nextButton" value="next">&gt;</button>
          </div>
        </div>

      </div> 

<p id="stepListeners"></p>

<script type='text/javascript' src='/js/scenario.js'></script> 
<script>
$(document).ready(function(){
  // ------------------------------------------------------------------
  // Socket listening and emitting
  // ------------------------------------------------------------------
  // Receiving scenario from server
  socket.on('server.play-scenario', function(data) {
    scenario = data;
    // Loading first step
    loadStep(scenario);
  });

}); // End document.ready
</script>
<%- include('footer', {data: data}) %>
