<%- include('header', {data: data}) %>
<link rel='stylesheet' href='/style/style.css' />

      <div class="page-header">

      <div class="row">
        <div class="col-md-12">
        <video src="#" id="embeded-video" width="100%" height="100%"></video>
        <div id="serviceMessage"></div>
        </div>
      </div>

      </div>  

	<script type='text/javascript'> 
$(document).ready(function(){
    var media = $('#embeded-video');
    var socket = io();
    var waitingStatus = false;
    var app_mode = "<%=data.mode%>";
    var numReaders = eval(<%=data.numReaders%>);
    var mediaList = {};
    // Init tag/reader/media list
    for(var i=0; i < numReaders; i++) mediaList[i] = {media:{}};
    var playingIndex = 0; // Index in mediaList of the media currently playing

    // ------------------------------------------------------------------
    // Socket listening
    // ------------------------------------------------------------------
    // Receiving new media attributes by socket.
    socket.on('server.rfidData', function(data) {
        addMessage("rfid #" + data.tag + " on reader #" + data.reader);
        // Respond with a message including this clients' id sent from the server
        socket.emit('client.acknowledgment', {message: "Ok! Client is dealing with : #" + data.tag});
    });
    // debug function
    socket.on('server.time', function(data) {
        addMessage(data.time);
    });
    // Dealing with errors
    socket.on('server.error', console.error.bind(console));
    // Service messages (media)
    socket.on('server.message', playMedia);
    // Media service
    socket.on('server.play-media', function(m) {
      //
      // If the mode is 'synchrone', we have to wait that all readers have read a tag 
      // before chining media.
      //
      if (app_mode == "synchrone") {
        mediaList[m.reader-1].media = m;

        var canPlay = 0;
        for(var i=0; i < numReaders; i++) {
          if (mediaList[i].media.tag) {
            // If the media is defined, increment canPlay
            canPlay++;
          }
          console.log(mediaList[i]);
        }     

        // Playing all media now if all media are defined
        if (canPlay == numReaders) {
          // Starting to play first media
          playMedia(mediaList[playingIndex].media);
          // the second one is driven by media.on 'ended' function below
          // Because we need to start when previous is finished
          playingIndex++;
        }
      } else {
        //
        // Asynchrone mode : playing media without waiting all the readers have decoded something.
        //
        playMedia(m);
      }
    });

    // ------------------------------------------------------------------
    // Media handling
    // ------------------------------------------------------------------
    function addMessage(message) {
        console.log(message);
    }

    // Playing Media callback 
    function playMedia(m) {
      console.log(m);
      // Hide service message
      $('#serviceMessage').hide();

      // Stopping previous media
      media.stop();

      // chaging media source
      media.attr("src", m.uri);

      // Looping attribute
      if (m.loop == "on") {
        media.attr("loop", m.loop);
      } else { 
        media.removeAttr("loop"); 
      }

      // Autoplay Attribute
      if (m.autoplay == "on")  {
        media.attr("autoplay", m.autoplay); 
      } else { 
        media.removeAttr("autoplay"); 
      }

      // Controls attribute
      if (m.controls == "on") {
        media.attr("controls", m.controls);
      } else { 
        media.removeAttr("controls"); 
      }
      // Put status and tag as attributes too
      media.attr("status", m.status);
      media.attr("tag", m.tag);
      media.attr("filename", m.filename);
      media.attr("reader", m.reader);

    }

    // ------------------------------------------------------------------
    // End media event handling
    // ------------------------------------------------------------------
    // Adding a listener on video ending
    media.on('ended',function(){
      var messageTag = "";
      var urlContrib = "<br/><a class='btn btn-xs btn-default' title='Ajouter un contenu lié à ce tag RFID' href='/contrib?tag=" + media.attr("tag") + "'>Ajouter un contenu</a>";
      var tempo = 5000;
      // If the video was a service message "noTagAssociation" or "mediaNotFound" let's print rfid tag or filename
      switch (media.attr("status")) {
        case "noTagAssociation":
          messageTag = "Le tag RFID comportant le code : \"" + media.attr("tag") + "\" n'est associé à aucun mot-clé." + urlContrib;
          break;
        case "mediaNotFound":
          messageTag = "Le fichier : " + media.attr("filename") + "\" est introuvable.";
          break;
        case "content":
        // this is the normal way to play media
        tempo = 0;
      }

      // display mesage
      if (messageTag != "") {
        $('#serviceMessage').html(messageTag);
        $('#serviceMessage').fadeIn('slow');
      } 

      if (app_mode == "synchrone") {

      } else {
        // Emitting endMedia to the server. 
        // At least the service message if any, stays for 5 seconds.
        setTimeout(function() {
          $('#serviceMessage').hide();
          socket.emit('client.endMedia', { message: messageTag });
        }, tempo);
      }
      
    });

}); // $(document).ready()

	</script>
<%- include('footer', {data: data}) %>
