// 
// Config File
//
var app_root = "/Users/pgl/developpement/rfid-video-player";
module.exports = app_root;

module.exports = {
  // Node Server configuration
  server : {
    port : 3000,
    host : 'localhost',
    
  },

  // Serial Port configuration for rfid reads
  rfid : {
    portName : '/dev/cu.usbserial-A603XVZO',
    baudRate : 115200,
    behavior : 'real', // 'real' => means that tags come form USB-Serial port, 'emulated' is just for dev (no usb port reading)
    numReaders : 3,
    mode : 'asynchrone' // 'asynchrone' mode : Every reading in any rfid reader is triggering some content
                        // 'synchrone'  mode : The content is triggered if ervery rfid reader has read a tag.
  },

  // Application spcific conf
  app : {
    socketServer : 'http://localhost:3000',
    dbPath : app_root + "/data",
    dbSavePath : app_root + "/data/sav",
    mediaPath : '/medias',
    simulateSearchTime : false,
    searchTimeout : 5000,
    scenario_mode : true,
    scenario_view_path : app_root + '/views/scenario/', // directory where the server takes views to render a scenario
    default_scenario : 'scenario0', // default scénario played awaiting rfid first read
     messages: {  // service message by default. Could be overloaded by some files in 'mediaPath'/messages directory
      msgWaitingMediaFile: "waitingForTag.mp4",
      msgMediaNotFoundMediaFile: "mediaNotFound.mp4",
      msgNoTagAssocMediaFile: "noTagAssociation.mp4",
      msgSearchingMediaFile: "searching.mp4"
  }
}
}

