{
	"keywordslist" : [
	{
		"keyword" : "key1",
		"codes" : ["coderfid1","coderfid2","coderfid3"]
	},
	{
		"keyword" : "key2",
		"codes" : ["coderfid1", "coderfid3"]
	},
	{
		"keyword" : "key3",
		"codes" : ["coderfid2","coderfid3"]
	},
	{
		"keyword" : "key4",
		"codes" : ["coderfid4"]
	}
]
}
