  // Scenarios configuration
  /*
  différents templates possibles  : 
    - video.ejs : player vidéo.
      dans cet écran un bouton suivant est automatiquement inséeer pour passer le média avnt la fin
      nécessite de renseigner la propriété "media : []"

    - user-choice.ejs : faire un choix sur l'écran, branching de scénario
      nécessite de renseigner la propriété "choices : []"

    - content.ejs : Contenu statique
      nécessite de renseigner la propriété "text"

    - wrong.ejs : Affichage d'une erreur utilisateur

    - right.ejs : Affichage d'une réussite utilisateur

    
  Différentes transitions possibles : 
    - timeElapsed() : passer à l'étape suivante après un certain temps "duration"
    - endMedia()    : passer à l'étape suivante à la fin du média, possibilité d'ajouter un temps de latence avec "duration"
    - manualStep()  : passer à l'étape suivante sur commande du médiateur (on clique sur le bouton "suivant")
    - select_object()   : sélection d'un objet.
    - deselect_object() : déselection d'un objet.
    - histo("step-xxx") : Vrai si on est déjà passée par l'étape "step-xxx", faux sinon
  */

module.exports = 
{
  scenarios : 
  [
    // First scenario
    { 
      scenarId : 'scenario1', 
      rfid : 'coderfid1',
      title : 'Title Scenario',
      scenarioMediaPath : 'myPath/',
      steps : [
      {
        stepId : 'step-1',
        title : 'Title Step',
        template : 'video.ejs',
        choices : [],
        medias : ['video1.mp4'],
        transitions : 
          [
            { id : 'step-2', condition : 'endMedia()', duration : 2000 }
          ]
      },

      {
        stepId : 'step-2',
        title : 'Title Step',
        template : 'user-choice.ejs',
        choices : ["Choice 1", "Choice 2", "Choice 3"],
        medias : [''],
        transitions :  
          [ 
            { id : 'step-3', condition : 'choice == "Choice 1"' },
            { id : 'step-3-error', condition : 'choice != "Choice 1"' }
          ]
      },

      {
        stepId : 'step-1.3',
        title : 'Title Step',
        template : 'right.ejs',
        choices : [],
        medias : [''],
        transitions : 
        [
          {id : 'step-4', condition : 'timeElapsed()', duration : 2000 }
        ]
      },

      {
        stepId : 'step-3-error',
        title : 'Title Step',
        template : 'wrong.ejs',
        choices : [],
        medias : ['error.gif'],
        transitions : 
        [
          {id : 'step-1.2', condition : 'timeElapsed()', duration : 2000 }
        ]
      },
      {
        stepId : 'step-4',
        title : 'Title Step',
        template : 'some-custom-template.ejs',
        choices : [],
        medias : [''],
        transitions : 
        [
          {id : 'step-4', condition : 'timeElapsed()', duration : 2000 }
        ]
      },
      ]
    }
  ]
}
